{% extends 'index.html' %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="auth-form">
            <legend>Sign In</legend>
            <div class="form-fields">
                <label for="email">Email<br>
                    <input type="email" id="name" name="email" placeholder="e.g. someone@example.com">
                </label>
                <label for="password">Password<br>
                    <input type="password" id="password" name="password" placeholder="password">
                </label>
                <div class="button">
                    <input type="submit" value="sign in">
                </div>
            </div>
            <div class="form-down">
                <p>create a new account? <a href="{% url 'sign-up' %}">Sign Up</a></p>
            </div>
        </fieldset>
    </form>
{% endblock %}